@{
    ViewData["Title"] = "Authentication";
}

<link rel="stylesheet" href="~/css/LoginRegister.css" asp-append-version="true" />

<div class="auth-page-wrapper">
    <div class="auth-box"> 
        <h2 class="auth-title">Welcome to <span>Golden Era</span></h2>

        <a asp-action="Login" class="auth-choice-btn btn-solid">Login</a>
        <a asp-action="Register" class="auth-choice-btn btn-outline">Create an Account</a>
    </div>
</div>
